# Ignorer les fichiers de sauvegarde
*~
*.bak
# Ignorer la configuration personnalisée
/config.php
# Ignorer le mo généré par le pot
/locale/default/pot/messages.mo
# Ignorer doctrine.php
/doctrine.php
# Ignorer la génération de doxygen
/doxygen/*
