/* Feuille de style principale du site LocalizeTeaPot */

body
{
	color:#333333;
	font-family:sans-serif;
	font-size:75%;
	line-height:1.5;
	background-color: #DDDDDD;
}

div#corps, header, footer{
	width: 950px;
	margin: auto;
}
div#corps{
	background-color: #fff;
	border-radius: 0px 0px 10px 10px;
	padding: 10px;
	box-shadow:0px 0px 5px 5px rgba(0,0,0,0.2);
}

img{
	border: none;
}

article>p, section>p{
	text-align:justify;
}

footer{
	text-align: right;
}

iframe#carteOSM
{
	border-style: none;
}

p#droitsAuteurs
{
	text-align: right;
}

.form_valid{
	background-color: #bf9;
	background-image: url('../images/valid.png');
}
.form_error{
	background-color: #fbb;
	background-image: url('../images/error.png');
}
.form_info{
	background-color: #bdf;
	background-image: url('../images/info.png');
}
ul.form_error, ul.form_info, ul.form_valid{
	list-style-type: none;
	list-style-position: inside;
}

.form_error, .form_valid, .form_info{
	border-radius: 5px;
	padding: 5px 26px 5px 5px;
	border-right: 5px solid transparent;
	min-height: 16px;
	background-repeat: no-repeat;
	background-position: right center;
	background-origin: padding-box;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
.form_error:hover, .form_valid:hover, .form_info:hover{
	box-shadow: 0px 0px 5px 1px rgba(0,100,200,0.5);
}

/* CSS Liens du site */
a.menu{ color: black; text-decoration: none; }
a.menu:hover{ color: white; text-decoration: none; }
a { color: blue; text-decoration: none; }
a:hover{ color: orange; text-decoration: none; }